header{height:115px;}
#head-left-box{margin-top: 10px;}
#head-right-box .welcome{font-size: 16px; display: block; margin: 60px 200px 0 0 ;}
main{background: url(../images/login_banner.jpg) no-repeat center; height: 500px;}
main .user-login{float: right; margin: 70px 80px 0 0; width: 300px; padding: 10px 30px; background: rgba(255, 255, 255, 0.9); border-radius: 14px;}
main .user-login .login-title{display: flex; justify-content: space-around; margin-top: 10px;}
main .user-login .login-title .login-title-link{width: 100px; height: 24px; font-size: 16px; color: #333;}
main .user-login .login-notice{text-align: center; margin-top: 6px; font-size: 12px; color: #999;}
main .user-login .login-box{margin-top: 20px;}
main .user-login .login-box .username{ margin-top: 10px; border: 1px solid #ccc; background: rgba(255, 255, 255, 0.1); display: flex;}
main .user-login .login-box .username i{ font-family: MyFontName;font-size: 20px; width: 18px; height: 18px; margin: 8px; color: #bdbdbd; }
main .user-login .login-box .username i::before{content: "\e914"; }
main .user-login .login-box .username input{background:rgba(255, 255, 255, 0.1); border: 0; outline: 0; height: 36px; width: 262px;}

main .user-login .login-box .password{ margin-top: 10px; border: 1px solid #ccc; background: rgba(255, 255, 255, 0.1); display: flex;}
main .user-login .login-box .password i{ font-family: MyFontName;font-size: 20px; width: 18px; height: 18px; margin: 8px; color: #bdbdbd; }
main .user-login .login-box .password i::before{content: "\e90e"; }
main .user-login .login-box .password input{background:rgba(255, 255, 255, 0.1); border: 0; outline: 0; height: 36px; width: 262px;}

main .user-login .login-box .verification{ margin-top: 10px; display: flex; justify-content: space-between;}
main .user-login .login-box .verification .verificationInput{width: 180px;background: rgba(255, 255, 255, 0.1); border: 1px solid #ccc; display: flex;}
main .user-login .login-box .verification .verificationInput i{  font-family: MyFontName;font-size: 20px; width: 18px; height: 18px; margin: 8px; color: #bdbdbd; }
main .user-login .login-box .verification .verificationInput i::before{content: "\e90e"; }
main .user-login .login-box .verification .verificationInput input{background:rgba(255, 255, 255, 0.1); border: 0; outline: 0; height: 36px; width: 166px;}
main .user-login .login-box .verification .verificationImg{}
main .user-login .login-box .verification .verificationImg canvas{ width: 100px; height: 36px; border: 1px solid #ccc;}

main .user-login .login-btn input{letter-spacing: 10px; width: 100%; outline: none; border: 1px solid #c00; height: 38px; background: #c00; color: #fff; font-size: 14px; border-radius: 2px; cursor: pointer; margin-top: 40px;}

main .user-login .login-bottom{text-align: right; margin-top: 30px; margin-bottom: 6px; font-size: 12px; color: #999;}
main .user-login .login-bottom a{color: #c00;}


